<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Nueva contraseña
      

            form.caja-login(method="POST")
                .campo
                    label(for="email") password :
                    input(type="password" name="password" placeholder="Nuevo password" )
                .campo.enviar
                    input.boton(type="submit" value="restablecer Password")
               

                    