<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
            

    body
        h2 reestablecer password
        p hola, has solicitado restablecer la contraseña , haz click en el siguiente enlace para restablecerlo, este enlace es temporal, si vence vuelve a solicitarlo
        a(href=`${resetUrl}`) Ir a resetear el password
        p Si no puedes acceder a este enlace, visita #{resetUrl}
        p Si no solicitaste este e-mail, puedes ignorarlo